.navbar a {
    text-decoration: none;
}

.header {
    background-color: white;
}

.contact .icons-container {
    margin-bottom: 3rem;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 2rem;
}

.contact .icons-container .icons {
    text-align: center;
    padding: 3rem 2rem;
    border: 0.1rem solid #0eb582;
    background: #f0fdfa;
}

.contact .icons-container .icons i {
    height: 6rem;
    width: 6rem;
    line-height: 6rem;
    font-size: 2rem;
    border-radius: 50%;
    margin-bottom: .5rem;
    color: #fff;
    background: #0eb582;
}

.contact .icons-container .icons h3 {
    font-size: 2rem;
    text-transform: capitalize;
    color: #444;
    padding: .5rem 0;
}

.contact .icons-container .icons p {
    font-size: 1.5rem;
    line-height: 2;
    color: #777;
}

.contact .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 2rem;
}

.contact .row .image {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 40rem;
    flex: 1 1 40rem;
}

.contact .row .image img {
    width: 100%;
}

.contact .row form {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 40rem;
    flex: 1 1 40rem;
    border: 0.1rem solid #0eb582;
    padding: 2rem;
}

.contact .row form h3 {
    font-size: 2.5rem;
    text-transform: capitalize;
    color: #444;
    padding-bottom: 1rem;
}

.contact .row form .box {
    width: 100%;
    padding: 1.2rem 1.4rem;
    border: 0.1rem solid #0eb582;
    font-size: 1.6rem;
    margin: .7rem 0;
}

.contact .row form .box:focus {
    background: #0eb582;
    color: #fff;
}

.contact .row form .box:focus::-webkit-input-placeholder {
    color: #eee;
}

.contact .row form .box:focus:-ms-input-placeholder {
    color: #eee;
}

.contact .row form .box:focus::-ms-input-placeholder {
    color: #eee;
}

.contact .row form .box:focus::placeholder {
    color: #eee;
}

.contact .row form textarea {
    height: 15rem;
    resize: none;
}

.heading-link {
    text-align: center;
    background: url(../images/heading-bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 8rem;
}

.heading-link h3 {
    font-size: 4rem;
    text-transform: capitalize;
    color: #444;
}

.heading-link p {
    font-size: 2rem;
    line-height: 2;
    color: #777;
}

.heading-link p a {
    color: #0eb582;
}

.heading-link p a:hover {
    text-decoration: underline;
}